*{
    overflow: hidden;
    text-decoration: none;
}
:root{
    --sand: #faebe0;
    --lightgreen: #c9e4c5;
    --darkgreen: #b5cda3;
    --brown: #c1ac95;
}
nav{
    top:0px;
    text-align: center;
    background-color: var(--gray);
    margin-left:0%;
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
}
.title{
    color: var(--brown);
    font-size: 50px;
    padding-left: 90px;
    padding-top: 35px;
    margin:0;
}
ul{
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 15px;
}
li{
    display: inline;
    float: right;
}
li a{
    padding: 1.5em;
}
.button{
    font-size: 25px;
    color: black;
}
.active{
    overflow: visible;
    color: var(--darkgreen);
    border:  10px solid var(--lightgreen);
}
