<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picket</title>
    <link rel="stylesheet" href="/app/static/style.css">
    <style>
        li {
            display:inline;
        }
        </style>
</head>
<body>
    <nav class="navbar">
        <h1 class="title">Picket</h1>
            <ul>
                <li><a href="" class="button">About Us</a></li>
                <li><a href="" class="button">Solution</a></li>
                <li><a href="" class="button">Scaaan</a></li>
                <li><a href="/app/templates/index.html" class="button active">Home</a></li>
            </ul>
    </nav>


    <form method="POST" action="/upload" class="form" enctype="multipart/form-data">
        <div>
            <input type="file" name="file" class="img-input" accept=".png,.jpeg,.jpg">
        </div>
        <button type="submit" class="scan-btn">Scan</button>
    </form>



</body>
</html>